.button__field{
    width: 150px;
    height: 150px;
    background-color:#44425e;
    cursor: pointer;
    font-size: 100px;
    user-select: none;
    color: #c4c4c4;
    /* margin-bottom: 10px; */
}
.button__field:hover{
    background-color:#44425ea8;
    transition: 0.3s all ease;
}
.winner{
    background-color:#15fe00dd;
}