* {
  font-family: 'New Tegomin', serif;
}

.App {
  text-align: center;
  user-select: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  
}
::-webkit-scrollbar { 
  width: 0px;  
  background: transparent;  
}

.buttton {
  height: 60px;
  width: 140px;
  font-size: 16px;
  color:#555c6c;
  border-radius: 15px;
  cursor: pointer;
  outline: none;
}
.buttton:hover {
  background-color: rgb(121, 121, 121);
}
.symbol{
  font-size: 50px;
}
